<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.blog.mapper.PostMapper">
    <insert id="createNewPost" parameterType="io.blog.vo.PostVo">
        INSERT INTO POSTS(ID,
                          TITLE,
                          CONTENTS,
                          CREATED_AT,
                          VIEWS,
                          USER_ID)
        VALUES ((SELECT MAX(ID) + 1 FROM POSTS AS POSTS_TABLE),
                #{TITLE},
                #{CONTENTS},
                DATE_FORMAT(NOW(), '%Y-%m-%d(%W) %T', 'NLS_DATE_LANGUAGE=ENGLISH'),
                0,
                #{USER_ID})
    </insert>

    <update id="increaseView" parameterType="int">
        UPDATE POSTS
        SET VIEWS = VIEWS + 1
        WHERE ID = #{id}
    </update>

    <select id="viewAllPost" resultType="java.util.Map">
        SELECT *
        FROM POSTS
        ORDER BY CREATED_AT DESC
    </select>
    <select id="viewDetailPost" resultType="java.util.Map">
        SELECT *
        FROM POSTS,
             USERS
        WHERE POSTS.USER_ID = USERS.ID
          AND POSTS.ID = #{id}
    </select>
    <select id="getCreatedPost" resultType="java.util.Map">
        SELECT *
        FROM POSTS
        WHERE ID = (SELECT MAX(ID) FROM POSTS AS POSTS_TABLE)
    </select>
</mapper>